<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204559649171-bmo4f2agpcsgbpna7jupm6kefhfq5lc3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204559649171-bmo4f2agpcsgbpna7jupm6kefhfq5lc3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>204559649171-3glau75qqj09dat7k5tr80cdtk2gj4v1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAhD01ELMD-zY34O6NvQ8OcDPESKU8FViA</string>
	<key>GCM_SENDER_ID</key>
	<string>204559649171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.unisannio.cp.myTicket</string>
	<key>PROJECT_ID</key>
	<string>my-ticket-d9d98</string>
	<key>STORAGE_BUCKET</key>
	<string>my-ticket-d9d98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204559649171:ios:7413c351a9fb526ac0c066</string>
	<key>DATABASE_URL</key>
	<string>https://my-ticket-d9d98-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>